# Build outputs
/dbus-passkey
/dbus-passkey-nofido2
/dbus-passkey-e2e-test
/dbus-passkey-client

# Go
vendor/
dbus-passkey-test-provider
dbus-passkey-ui-agent
dbus-passkey-gnome-keyring-provider

.claude/
